# ==============================================================================
# App Service
# ==============================================================================
APP_NAME=vehicle-manual-poc
APP_ENV=local
LOG_LEVEL=DEBUG

# ==============================================================================
# Databse
# ==============================================================================
DATABASE_URL=your-datbase-url

SUPABASE_URL=your-supabase-url.com
SUPABASE_KEY=your-supabase-key

# ==============================================================================
# LLM Configrations
# ==============================================================================
PROVIDER="OPENAI"

OPENAI_API_KEY=your-openai-key
OPENAI_MODEL=gpt-5-nano

GEMINI_API_KEY=your-gemini-key
GEMINI_MODEL=gemini-2.5-flash-lite

XAI_API_KEY=your-xai-key
XAI_MODEL=grok-beta

# ==============================================================================
# Hugging Face
# ==============================================================================
HF_TOKEN=your-huggingfasce-toekn

# ==============================================================================
# LangSmith
# ==============================================================================
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=your-langchain-smith-api-key

# ==============================================================================
# OpenTelemetry - Grafana
# ==============================================================================
ENABLE_OTEL_DIRECT=false
GRAFANA_ENDPOINT=https://otlp-gateway-prod-ap-northeast-0.grafana.net/otlp/v1/logs
GRAFANA_INSTANCE_ID=1556283
GRAFANA_API_TOKEN=your_grafana_endpoint



