DATABASE_URL=your-datbase-url

SUPABASE_URL=your-supabase-url.com
SUPABASE_KEY=your-supabase-key

PROVIDER="OPENAI"

OPENAI_API_KEY=your-openai-key
OPENAI_MODE=gpt-5-nano

GEMINI_API_KEY=your-gemini-key
GEMINI_MODEL=gemini-2.0-flash-lite-preview-0924