# Databse
DATABASE_URL=your-datbase-url

SUPABASE_URL=your-supabase-url.com
SUPABASE_KEY=your-supabase-key

# LLM
PROVIDER="OPENAI"

OPENAI_API_KEY=your-openai-key
OPENAI_MODE=gpt-5-nano

GEMINI_API_KEY=your-gemini-key
GEMINI_MODEL=gemini-2.5-flash-lite

XAI_API_KEY=your-xai-key
XAI_MODEL=grok-beta

# Hugging Face

HF_TOEKN=your-huggingfasce-toekn

# LangSmith

LANGCHAIN_TRACING_V2=flase
LANGCHAIN_API_KEY=your-langchain-smith-api-key

# OpenTelemetry - Grafana
GRAFANA_ENDPOINT=https://otlp-gateway-prod-ap-northeast-0.grafana.net/otlp/v1/logs
GRAFANA_INSTANCE_ID=1556283
GRAFANA_API_TOKEN=your_grafana_endpoint



