fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==21.2.0

loguru==0.7.2
pydantic-settings==2.12.0
pydantic
httpx
uvloop; sys_platform != "win32"

google-genai
openai
langchain_core
langchain_openai
langchain_google_genai
langgraph


# sqlalchemy
sqlalchemy[asyncio]
asyncpg
# greenlet

supabase