fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==21.2.0

loguru==0.7.2
pydantic-settings==2.12.0
pydantic
httpx
uvloop; sys_platform != "win32"

google-genai
openai
#langchian 0.1 version
langchain_core
langchain_openai
langchain_google_genai
#langchian 1.0+ version
langchain
langchain-openai
langchain-google-genai
#langgraph
langgraph


# sqlalchemy
sqlalchemy[asyncio]
asyncpg
# greenlet

supabase